@import '../../sassStyles/variables';
@import '../../sassStyles/typography';
@import '../../sassStyles/mixins';
@import '../../sassStyles/global';


.mobile{
    .whowearesection{
        h4{
            @include myfont(22px,400,$main_font);
            line-height: 29px;
            text-align: justify;
        }
    }
    
    .ourmission{
        margin-bottom: 100px;
        h4{
            @include myfont(22px,400,$main_font);
            line-height: 29px;
            margin-bottom: 20px;
            text-align: justify;
        }
    }

    .aboutbannercompmb{
       
        .aboutbanner{
            height: 100vh;
            width: 100%;
            position: relative;
            .img {
                height: 100vh;
                position:relative;
                .overlay {
                    position: absolute;
                    width: 100%;
                    height: 80%;
                    background-color: rgba(110, 111, 111, 0.5);
                    top: 0;
                    left: 0;
                    display: flex;
                    align-items: center;
                    // padding-top: 140px;
                    img {
                      width: 100%;
                    }
                    .div {
                      h3 {
                          @include media(xsmDevice){
                              @include myfont(40px!important, 700, $main_font);
                          }
                          @include media(smDevice){
                              @include myfont(40px!important, 700, $main_font);
                          }
                          @include media(mdDevice){
                              @include myfont(40px!important, 700, $main_font);
                          }
                        @include myfont(80px, 700, $main_font);
                        color: #fff;
                        text-transform: uppercase;
                        margin-bottom: 30px;
                      }
                      p {
                        @include myfont(20px, 400, $main_font);
                        color: #fff;
                        text-align: justify;
                        @include media(xsmDevice){
                            @include myfont(14px, 400, $main_font);
  
                        }
                        @include media(smDevice){
                            @include myfont(15px, 400, $main_font);
  
                        }
                        @include media(mdDevice){
                            @include myfont(15px, 400, $main_font);
  
                        }
                      }
                    }
                  }
                img {
                  height: 100%;
                  object-fit: cover;
                }
                .overlay2 {
                    height: auto;
                   
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 99;
                    background: rgba(51, 119, 207, 1);
                    .div{
                        text-align: center;
                        margin: 20px 0;
                        h3{
                            @include myfont(50px, 700, $main_font);
                            color: #fff;
                            text-transform: uppercase;
                            margin-bottom: 0px;
                            @include media(xsmDevice){
                                @include myfont(40px, 700, $main_font);
                            }
                           
                        }
                        p{
                            @include myfont(20px, 400, $main_font);
                            color: #fff;
                            @include media(xsmDevice){
                                @include myfont(20px, 700, $main_font);
                            }
                           
                            
                        }
                    }
                    .coldiv {
                      height: 100%;
                    }
                    .mbaboutcontainer,
                    .myContainerMinimini,
                    .myContainer896,
                    .myContainerMini {
                      height: 100%;
                    }
                  }
              }
           
        }
    }

    .aboutferrytech{
        padding:60px 0 0 0;
        .headingofsubsectioncomp{
            h3{
                @include myfont(25px,700,$main_font);
            }
        }
        .para {
      
            margin-top: 18px;
            .leftside{
              .listitems{
                  ul{
                      padding-left: 0;
                      list-style-type: none;
                      li{
                          svg{
                              margin-right: 10px;
                          }
                          @include myfont(16px, 500, $main_font);
                          color:#000;
                          line-height: 30px;
                          @include media(xsmDevice){
                            line-height: 20px;
      
                        }
                        @include media(smDevice){
                           line-height: 20px;
      
                        }
                          
                      }
                  }
              }
              h6{
                  @include myfont(14px, 700, $main_font);
                  color:#005DBA;
                  letter-spacing: 2px; 
                  
              }
              h2{
                  @include myfont(3.1rem, 700, $main_font);
                  color:#000;
                  @include media(xsmDevice){
                      @include myfont(1.6rem, 700, $main_font);

                  }
                  @include media(smDevice){
                      @include myfont(2.1rem, 700, $main_font);

                  }
                  span{
                      color:#005DBA;
                  }
              }
              p{
                  text-align: left;
                  text-align: justify;
                  @include myfont(1rem, 400, $main_font);
                  padding-top: 30px;
                  line-height: 22px;
                  margin-bottom: 0;
                  @include media(xsmDevice){
                    line-height: 20px;

                }
                @include media(smDevice){
                   line-height: 20px;

                }
              }
            }
            p {
              @include myfont(18px, 500, $main_font);
              color: #231f20;
              line-height: 20px;
            }
          }
    }

    .faqcomp{
        .headingofsubsectioncomp{
            h3{
                @include myfont(25px,700,$main_font);
                margin-bottom: 15px;
            }
        }
        padding:60px 0 0 0;

        .myaccordion{
           
            .myacchead{
                h4{
                    @include myfont(14px,400,$main_font);
                    color:#231F20;
                    margin-bottom: 0;
                }
            }
            .accbody{
                p{
                    @include myfont(12px,600,$main_font);
                    color:#6B6C6F;
                    padding: 20px 0 40px 0;

                }
            }
        .accordion-body{
            padding:0 20px;
        }
        .accordion-item{
            margin-bottom: 20px;
            box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.1);
            border:none;
            
        }
        .accordion-button{
            padding:20px;
           
        }
        .accordion-button:not(.collapsed) {
            background-color: #F9A825;
            color: #231f20;
          }
        .accordion{
            --bs-accordion-btn-icon: url(../../../../public/assets/images/AboutPage/accordionicon.png)!important;
            --bs-accordion-btn-active-icon: url(../../../../public/assets/images/AboutPage/accordionicon.png)!important;
            --bs-accordion-btn-icon-width:24px;
            
        }
        .accordion-button::after{
            background-image:url(../../../../public/assets/images/AboutPage/accordionicon.png)!important;
           
        }
    }
    }
    .footer{
        margin-top: 50px;
    }

   
}