@import '../../sassStyles/variables';
@import '../../sassStyles/typography';
@import '../../sassStyles/mixins';
@import '../../sassStyles/global';


.mobile{
    .whowearesection{
        h4{
            @include myfont(22px,400,$main_font);
            line-height: 29px;
            text-align: justify;
        }
    }
    
    .ourmission{
        margin-bottom: 100px;
        h4{
            @include myfont(22px,400,$main_font);
            line-height: 29px;
            margin-bottom: 20px;
            text-align: justify;
        }
    }

    .aboutbannercompmb{
       
        .aboutbanner{
            height: 620px;
            width: 100%;
            position: relative;
            .img {
                height: 100%;
                img{
                    height: 100%;
                }
            }
            .overlay{
                padding-top: 80px;
                position:absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 93, 186, 0.5);
                top:0;
                left:0;
                img{
                    width:100%;
                }
                .columnheightab{
                    .lcommoncol{
                        img{
                            height: 163px;
                            
                        }
                    }
                    .rcommoncol{
                        img{
                            height: 250px;
                            
                        }
                    }
                    
                }
                .cbten{
                    img{
                        margin-bottom: 10px;
                    }
                }
                .prten{
                    padding-right: 10px;
                }
                .plzero{
                    padding-left: 0;
                }
               
               
            }
        }
    }

    .aboutferrytech{
        padding:60px 0 0 0;
        .headingofsubsectioncomp{
            h3{
                @include myfont(25px,700,$main_font);
            }
        }
        .para{
            p{
                @include myfont(14px,600,$main_font);
            }
        }
    }

    .faqcomp{
        .headingofsubsectioncomp{
            h3{
                @include myfont(25px,700,$main_font);
                margin-bottom: 15px;
            }
        }
        padding:60px 0 0 0;

        .myaccordion{
           
            .myacchead{
                h4{
                    @include myfont(14px,400,$main_font);
                    color:#231F20;
                    margin-bottom: 0;
                }
            }
            .accbody{
                p{
                    @include myfont(12px,600,$main_font);
                    color:#6B6C6F;
                    padding: 20px 0 40px 0;

                }
            }
        .accordion-body{
            padding:0 20px;
        }
        .accordion-item{
            margin-bottom: 20px;
            box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.1);
            border:none;
            
        }
        .accordion-button{
            padding:20px;
           
        }
        .accordion-button:not(.collapsed) {
            background-color: #fff;
            color:#231F20;
            
        }
        .accordion{
            --bs-accordion-btn-icon: url(../../../../public/assets/images/AboutPage/accordionicon.png)!important;
            --bs-accordion-btn-active-icon: url(../../../../public/assets/images/AboutPage/accordionicon.png)!important;
            --bs-accordion-btn-icon-width:24px;
            
        }
        .accordion-button::after{
            background-image:url(../../../../public/assets/images/AboutPage/accordionicon.png)!important;
           
        }
    }
    }
    .footer{
        margin-top: 50px;
    }

   
}