@import '../../sassStyles/variables';
@import '../../sassStyles/typography';
@import '../../sassStyles/mixins';
@import '../../sassStyles/global';

.mobile{
    
.coursesdetailsmb{
    padding-top: 95px;
    .pricebox{
                
        width: 100%;
        border:1px solid #ededed;
        padding:0 30px;
        margin:20px 0;
        .enrollnowbutton{
            margin-top: 65px;
            margin-bottom: 20px;
            .commonbutton{
                button{
                    border-radius: 12px;
                }
            }
        }
        .bottompart{
            .commkonli{
                position: relative;
            &::after{
                width:100%;
                position: absolute;
                bottom:0;
                content:'';
                left:50%;
                height: 1px;                      
                background-color: #ededed;
                transform: translateX(-50%);
            }
                padding: 17px 0;
                .right{
                    
                    p{
                        @include myfont(14px,400,$main_font);
                        color:#4F547B;
                    }
                }
                .left{
                    .img{
                        img{
                            width: 19px;
                            height: 19px;
                        }
                    }
                    .text{
                        margin-left: 15px;
                        p{
                            @include myfont(14px,400,$main_font);
                            color:#00ADD2;
                        
                        }
                    }
                }
            }
        }
        .toppart{
            height: 120px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            position: relative;
            &::after{
                width:100%;
                position: absolute;
                bottom:0;
                content:'';
                left:50%;
                height: 1px;                      
                background-color: #ededed;
                transform: translateX(-50%);
            }
        }
            h4{
                margin-bottom: 0;
                @include myfont(25px,700,$main_font);
                color:#00ADD2;
        }
    }
    .ft-slick__dots--custom {
        height: 7px;
        width: 7px;
        background-color: #e5e7e9;
        border-radius: 4px;
        position: relative;
        border-radius: 50%;
        top: 30px;
      }
      .slick-dots li {
        width: 14px;
        margin: 0 2px;
        transition: width 0.3s ease-in-out;
      }
      .slick-dots .slick-active {
        // background-color: #00ADD2;;
      }
      .slick-dots .slick-active .ft-slick__dots--custom {
        
        background: #00ADD2;
        
      }
    .video{                
        width: 100%;  
        position:relative; 
        margin-bottom: 25px;  
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
          }
          
          .overlay img {
            width: 80px;
            height: 80px;
            opacity: 0.7;
            cursor: pointer;
          }           
    }
    .restofthecontent{
        h3{
            @include myfont(20px,500,$main_font);
            color:#000;
        }
        .mytabs{
            .navtabswrapper{
                padding:8px 15px;
                border:1px solid #ededed;
                border-radius: 8px;
            }
            .nav-link{
                background-color: #fff!important;
                color:#4F547B;
                @include myfont(12px,400,$main_font);
            }
            .nav-link.active{
                background-color: #00ADD2!important;
                color:#fff;
            }

            .firsttabcontent{
                padding-top: 15px;
                h2{
                    @include myfont(20px,500,$main_font);
                    color:#00596E;
                    margin:12px 0;
                }
                p{
                    @include myfont(12px,400,$main_font);
                    color:#4F547B;
                    line-height: 14px;
                }
                .accordion{
                    margin-top: 15px;
                }
                .accordion-button:not(.collapsed){
                    background-color: #00ADD2!important;
                    color:#fff;
                }
                .accordion-button{
                    @include myfont(14px,400,$main_font);
                }

                .accordion-body{
                    padding: 0;
                    ul{
                        margin-bottom: 0;
                        padding-left: 0;
                        li{
                            background-color: #f8f8f8;
                            padding-left: 40px;
                            height: 50px;
                            line-height: 50px;
                            border-top: 1px solid #ddd;
                            border-bottom: 1px solid #ddd;
                            position:relative;
                            display: block;
                            
                            &::after{
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                                background-color: #ddd;
                                border-radius: 50%;
                                top:50%;
                                left:15px;
                                transform: translateY(-50%);
                                content:'';
                                position:absolute;
                            }
                        }
                    }
                }
                .accordion-header{
                    margin: 0;
                    color:#fff;
                }
            }
            .secondtabcontent{
                .imgofins{
                    img{
                        width: 96px;
                        height: 96px;
                    }
                }
                padding-top: 15px;
                .content{
                    h2{
                        @include myfont(20px,500,$main_font);

                    }
                }
                .ratingboxbig{
                    height: unset;
                    border:1px solid #ededed;
                    border-radius: 8px;
                    padding: 20px;
                    margin-bottom: 20px;
                   .starstogether{
                    img{
                        // width: 96px;
                        // height: 96px;
                        margin:0 auto;
                    }
                   }
                    .heading{
                        text-align: center;
                        h4{
                            text-align: center;
                            @include myfont(25px,500,$main_font);
                            color:#00ADD2;
                        }
                        p{
                            font-size: 12px!important;
                        }
                    }
                }
                .detailofins{
                    h3{
                        @include myfont(24px,400,#000);
                        margin-bottom: 0;
                        line-height: 24px;
                        margin-top: 5px;
                    }
                    .rating{
                        padding-left: 0;
                    }
                    .designation{
                        @include myfont(18px,400,$main_font);
                        color:#00ADD2;
                        margin-top: 5px;
                    }
                    .rating{
                
                        
                        margin-bottom: 12px;
                        margin-top: 20px;
                        .wrapper{
                            justify-content: flex-start;
                            align-items: center;
                            .stars{
                                margin-top: -2px;
                            }
                            span{
                                display: inline-block;
                                @include myfont(15px,400,$main_font);
                                color:#4F547B;
                                &:first-child{
                                    @include myfont(15px,500,$main_font);
                                    margin-right: 7px;
                                    
                                    color:#FF9800;
                                }
                                &:last-child{
                                    margin-left: 7px;
                                }
                
                            }
                        }
                    }

                }
                h2{
                    @include myfont(32px,500,$main_font);
                    color:#00596E;
                    margin-bottom: 30px;
                    margin-top: 30px;
                }
                p{
                    @include myfont(16px,400,$main_font);
                    color:#4F547B;
                }
            }
            .thirdtabcontent{
                .content{
                    h2{
                        @include myfont(20px,500,$main_font);

                    }
                }
                padding-top: 15px;
                .writereviewbutton{
                    margin-top: 65px;
                    margin-bottom: 30px;
                    .commonbutton{
                        button{
                            border-radius: 8px;
                        }
                    }
                }
                h2{
                    @include myfont(32px,500,$main_font);
                    color:#00596E;
                    margin-bottom: 30px;
                    margin-top: 30px;
                }
                p{
                    @include myfont(16px,400,$main_font);
                    color:#4F547B;
                }
                .sliderbox{
                    width: 100%;
                    height: unset;
                    border:1px solid #ededed;
                    border-radius: 8px;
                    padding:20px 18px;
                    
                    .topdiv{
                        .leftdiv{
                            img{
                                width: 44px;
                                height: 44px;
                            }
                        }
                        .rightdiv{
                            margin-left: 20px;
                            h4{
                                margin-bottom: 0;
                                @include myfont(12px,400,$main_font);
                            }
                            p{
                                @include myfont(10px,400,$main_font);
                                color:#00ADD2;
                            }
                        }
                    }
                    .bottomdiv{
                        p{
                            margin-top: 30px;
                            @include myfont(12px,400,$main_font);
                            line-height: 14px;
                        }
                    }
                    .stars{
                        img{
                            width: 11px;
                            height: 11px;
                        }
                    }
                }
            }
        }
        .teachersmalldetail{
            margin-top: 20px;
            .rating{
                
                padding:0 20px;
                margin-bottom: 12px;
                
                .wrapper{
                    justify-content: center;
                    align-items: center;
                    .stars{
                        margin-top: -2px;
                    }
                    span{
                        display: inline-block;
                        @include myfont(15px,400,$main_font);
                        color:#4F547B;
                        &:first-child{
                            @include myfont(15px,500,$main_font);
                            margin-right: 7px;
                            
                            color:#FF9800;
                        }
                        &:last-child{
                            margin-left: 7px;
                        }
        
                    }
                }
            }
            
            .flexwrap
            {
                display: flex;
                align-items: center;
                .teachername{
                    p{
                        @include myfont(12px,400,$main_font);
                        color:#4F547B;
                        margin-left: 9px;
                    }
                }
                .enrolled{
                    p{
                        @include myfont(12px,400,$main_font);
                        color:#00ADD2;
                    }
                }
            }
            
            .teacherimg{
                img{
                    width: 33px;
                    height: 33px;
                }
            }
        }
    }

}

}