@import "../../sassStyles/variables";
@import "../../sassStyles/typography";
@import "../../sassStyles/mixins";
@import "../../sassStyles/global";

.mobile {
  .mynavbarmobi {
    background-color: #005dba !important;
    padding: 0 !important;
    height: 60px;
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 999;
    justify-content: space-between;
    border: 0 !important;
    .img {
      display: flex;
      align-items: center;
      height: 100%;
      margin-left: 18px;
      img {
        width: 143px;
      }
    }
    #basic-navbar-nav {
      position: absolute;
      width: 100%;
      background-color: #fff;
      height: 100vh;
      // height: 540px;
      overflow-y: scroll;
      top: 60px;
      transition: 0.5s;
      z-index: -1;
      visibility: visible;

      .activei {
        font-weight: 700 !important;
        color: #005dba;
      }
      .mainmenu {
        flex-direction: column;
        position: relative;
        height: 100%;
        .wrapperlimit {
          height: 302px;
          overflow-y: scroll;
        }
        .contactpart {
          position: absolute;
          bottom: 88px;
          width: 100%;
          transition: opacity 0.7s;
          .downloadbutton {
            text-align: center;
            button {
              margin-right: 0;
            }
          }
          .phone,
          .mail {
            padding-bottom: 30px;
            display: flex;
            align-items: center;
            img {
              width: 35px;
              height: 35px;
            }
            .wrap {
              margin-left: 12px;
              p {
                @include myfont(10px, 500, $main_font);
              }
              h4 {
                @include myfont(14px, 600, $main_font);
                p {
                  a {
                    @include myfont(14px, 600, $main_font);
                    color: unset;
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
        .accordion-button::after {
          background-image: url(../../../../public/assets/images/Mobile/common/navabr/accdown.png) !important;
          background-size: contain;
          width: 13px;
          height: 13px;
        }

        .accordion-header {
          button {
            span {
              @include myfont(16px, 500, $main_font);
              color: #000;
              display: inline-block;
              text-transform: uppercase;
            }
            &::after {
              margin-right: 15px;
            }
          }
        }
        .accordion-item {
          .accordion-body{
            ul{
              list-style-type: none;
            }
          }
          border: 0;
          .accordion-button:not(.collapsed) {
            background-color: #005dba;
            border-radius: 0;
            padding-left: 10px;
            span {
              color: #fff;
            }
          }
          .accordion-header {
            border-radius: 0;
            button {
              img {
                transition: transform 0.3s linear;
                transform: translateX(12px);
              }
              transition: 0.4s ease-in-out;
              height: 40px;
              padding: 0;
              margin: 3px 0;
              border-radius: 0;
              &:focus {
                border-color: transparent;
                box-shadow: none;
              }

              border-radius: 10px;
            }
          }
        }
        .nav-item {
          a {
            color: #000;
            @include myfont(16px, 500, $main_font);
            text-transform: uppercase;
            text-decoration: none;
            &.active {
              color: #005dba;
            }
            padding: 15px 0;
            display: inline-block;
          }
        }
        ul {
          li {
            .wr {
              color: #000;
              @include myfont(16px, 500, $main_font);
              text-transform: uppercase;
              padding: 5px 0;
              &.active {
                color: #005dba;
                font-weight: 700 !important;
              }
            }
          }
        }
      }
      &.opened {
        // top: calc(-100vh - 60px);
        height: 0;
        visibility: hidden;
        .admissionclass {
          opacity: 0;
          visibility: hidden;
        }
        .contactpart {
          opacity: 0;
          visibility: hidden;
        }
      }
      .admissionclass {
        position: relative;
        transition: 0.3s;
        opacity: 1;
        visibility: visible;
        top: 50px;
        .admissionmenu {
          position: absolute;
          top: 100%;
          left: 0;
          height: auto;
          width: 275px;
          background-color: #fff;
          opacity: 0;
          visibility: hidden;
          transition: 0.3s;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          padding: 15px 25px;
          ul {
            padding-left: 0;
            list-style-type: none;
            margin-bottom: 0;
            li {
              display: block;
              a {
                line-height: 35px;
                text-transform: uppercase;
                @include myfont(16px, 600, $main_font);
                color: #000;

                &:hover {
                  color: #ed1c24;
                }
              }
            }
          }
        }
        &:hover {
          .admissionmenu {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
    .navbar-collapse {
      background-color: #fff !important;
    }
    .navbar-toggler {
      height: 60px;
      width: 50px;
      border: 0;
      background: #fff;
      border-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      &:focus {
        box-shadow: none;
      }
      .nav-icon4-wrap {
        width: 27px;
        height: 30px;
        position: relative;
        z-index: 999;

        #nav-icon4 span {
          display: block;
          position: absolute;
          height: 2px;
          width: 100%;
          background: #000;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: 0.25s ease-in-out;
          -moz-transition: 0.25s ease-in-out;
          -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;
        }
        #nav-icon4 span:nth-child(1) {
          top: 0px;
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -o-transform-origin: left center;
          transform-origin: left center;
        }

        #nav-icon4 span:nth-child(2) {
          top: 10px;
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -o-transform-origin: left center;
          transform-origin: left center;
        }

        #nav-icon4 span:nth-child(3) {
          top: 20px;
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -o-transform-origin: left center;
          transform-origin: left center;
        }

        #nav-icon4.open span:nth-child(1) {
          -webkit-transform: rotate(39deg);
          -moz-transform: rotate(39deg);
          -o-transform: rotate(39deg);
          transform: rotate(39deg);
          top: 2px;
          left: 3px;
        }

        #nav-icon4.open span:nth-child(2) {
          width: 0%;
          opacity: 0;
        }

        #nav-icon4.open span:nth-child(3) {
          -webkit-transform: rotate(-39deg);
          -moz-transform: rotate(-39deg);
          -o-transform: rotate(-39deg);
          transform: rotate(-39deg);
          top: 18px;
          left: 3px;
        }
      }
    }
  }

  .bannersection {
    position: relative;
    .div {
      overflow: hidden;
      .inneritem {
        height: 90vw;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .cimg {
      position: absolute;
      top: calc(100% + 5px);
      left: 50%;
      transform: translateX(-50%);
      img {
        animation: myanim 2s infinite;
      }
    }
    @keyframes myanim {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(10px);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
  .introsection {
    padding-top: 74px;
    .headingofsubsection {
      h3 {
        text-transform: uppercase;
        @include myfont(25px, 700, $main_font);
        color: #005dba;
      }
    }
    .paraofsubsection {
      p {
        @include myfont(14px, 500, $main_font);
        color: #231f20;
        line-height: 16px;
        margin-top: 15px;
        padding-bottom: 65px;
      }
    }
    .introimgparts {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      .grid-cols-2 {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns with equal width */
        gap: 20px;
      }
      .introimgsdiv {
        width: 150px;
        height: 100px;
        margin: 20px 0;
        display: flex;
        align-items: center;

        justify-content: center;
        transition: 0.4s ease-in-out;
        box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.1);
        position: relative;
        .overlay1 {
          position: absolute;
          transition: 0.4s ease-in-out;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          background: #fff;
          z-index: 12;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
        }
        .overlay3 {
          position: absolute;
          transition: 0.4s ease-in-out;
          top: 0px;
          right: -3px;
          width: 50%;
          height: 80%;
          background: rgba(0, 93, 186, 1);
          z-index: -1;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          margin-top: 20%;
        }
        .overlay5 {
          border-radius: 10px;
          position: absolute;
          transition: 0.4s ease-in-out;
          top: -3px;
          left: -3px;
          width: 100%;
          height: 100%;
          background: rgba(0, 93, 186, 1);
          z-index: -1;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .wrap {
          text-align: center;
          img {
            width: 40px;
            height: 40px;
          }
          h5 {
            @include myfont(18px, 700, $main_font);
            color: #231f20;
            text-transform: uppercase;
            padding-top: 10px;
          }
        }
      }
    }
  }
  .industriescomp {
    padding-top: 10px;
    .headingofsubsectioncomp {
      padding-top: 40px;
      margin-bottom: 37px;
      h3 {
        @include myfont(25px, 700, $main_font);
      }
    }
    .indcardwrap {
      .indcard {
        width: 100%;
        height: 150px;
        position: relative;
        background-color: red;
        overflow: hidden;
        margin-bottom: 20px;

        img {
          width: 100%;
          height: 100%;
          transition: 0.4s ease-in-out;
        }
        &:hover {
          img {
            transform: scale(1.06);
          }
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            0deg,
            rgba(0, 93, 186, 0.5),
            rgba(0, 93, 186, 0.5)
          );
          z-index: 888;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          h4 {
            @include myfont(25px, 700, $main_font);
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .productlineup {
    .headingofsubsectioncomp {
      h3 {
        padding-bottom: 40px;
      }
    }
    .slider2 {
      @include media(mdDevice) {
        width: 50vw;
        margin: 0 auto;
      }
      @include media(smDevice) {
        width: 70vw;
        margin: 0 auto;
      }
    }
    .slick-prev {
      line-height: 40px;
      text-align: center;
      position: absolute;
      top: -36vw;
      left: 0px;
      width: 40px;
      height: 40px;
      border: 1px solid #000;
      border-radius: 50%;
      background-color: transparent;
      img {
        width: 18px;
      }

      @include media(lgDevice) {
        display: none;
      }
      @include media(xlgDevice) {
        left: -75px;
      }
      @include media(xxlgDevice) {
        left: -85px;
      }
      &::before {
        display: none;
      }
      @include media(smDevice) {
        left: -60px;
      }
      @include media(mdDevice) {
        left: -150px;
      }
    }
    .slick-next {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: -36vw;
      right: 0px;
      width: 40px;
      height: 40px;
      border: 1px solid #000;
      border-radius: 50%;
      background-color: transparent;
      img {
        width: 18px;
      }

      @include media(smDevice) {
        right: -60px;
      }
      @include media(mdDevice) {
        right: -150px;
      }
      @include media(lgDevice) {
        display: none;
      }
      @include media(xlgDevice) {
        right: -75px;
      }
      @include media(xxlgDevice) {
        right: -85px;
      }
      &::before {
        display: none;
      }
    }
    .rightslide {
      .slider1 {
        width: calc(100% - 90px);
        margin: 0 auto;
        @include media(mdDevice) {
          width: 70vw;
        }
        @include media(smDevice) {
          width: 70vw;
        }
        .div {
          img {
            width: 100%;
          }
        }
      }
    }

    .leftslider {
      position: relative;

      .slider2 {
        .slick-slide {
          padding: 40px 0;
        }
        .downloadbutton {
          text-align: center;
        }
      }

      .div {
        h3 {
          @include myfont(25px, 700, $main_font);
          color: #a3a3a3;
        }
        p {
          @include myfont(12px, 500, $main_font);
          color: #231f20;
          padding-bottom: 25px;
          line-height: 16px;
        }
      }
      // .prevbutton{
      //     position:absolute;
      //     top:calc(100% + 35px);
      //     left:0px!important;
      //     width: 65px;
      //     height: 65px;
      //     border:1px solid #000;
      //     border-radius: 50%;
      //     background-color: transparent;

      //     @include media(lgDevice){
      //         display:none;
      //     }
      //     @include media(xlgDevice){
      //         left:-75px;
      //     }
      //     @include media(xxlgDevice){
      //         left:-85px;
      //     }
      // }
      // .nextbutton{
      //     position:absolute;
      //     top:calc(100% + 35px);
      //     left:100px!important;
      //     width: 65px;
      //     height: 65px;
      //     border:1px solid #000;
      //     border-radius: 50%;
      //     background-color: transparent;

      //     @include media(lgDevice){
      //         display:none;
      //     }
      //     @include media(xlgDevice){
      //         right:-75px;
      //     }
      //     @include media(xxlgDevice){
      //         right:-85px;
      //     }
      // }
    }
  }
  .partnerbrandscomp {
    .mobile{
        .cardwrap{
            .brandcard{
                margin-bottom: 0;
                img{
                    width: 80%;
                    margin:0 auto;
                }
            }

        }
    }
    .headingofsubsectioncomp {
      padding-top: 40px;
      margin-bottom: 37px;
      h3 {
        @include myfont(25px, 700, $main_font);
      }
    }
    .cardwrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .brandcard {
        margin-bottom: 20px;
        width: 100%;
        padding: 5px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.4s ease-in-out;
        img {
          transition: 0.4s ease-in-out;
          width: 100%;
        }
        &:hover {
          box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.1);
          img {
            transform: scale(1.06);
          }
        }
      }
    }
  }
  .whyferrytech {
    padding-top: 60px;
    .headingofsubsectioncomp {
      h3 {
        font-size: 25px !important;
        margin-bottom: 10px;
      }
    }
    .imgwgymb {
      margin-bottom: 30px;
    }
    .cardd {
      &:last-child {
        .smcard {
          margin-bottom: 0;
        }
      }
    }
    .smcard {
      display: flex;
      margin-bottom: 40px;

      .img {
        img {
          width: 50px;
          height: 50px;
        }
      }
      .text {
        margin-top: 15px;
        h4 {
          @include myfont(16px, 500, $main_font);
          margin-bottom: 0;
          color: #231f20;
        }
        p {
          @include myfont(12px, 500, $main_font);
          color: #a3a3a3;
        }
      }
    }
  }

  .testimonial {
    background: url(../../../../public/assets/images/testimonial/testimonialbg.png);
    height: 440px;
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-top: 30px;
    position: relative;
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      display: flex;
      left: 0;
      background-color: rgba(0, 93, 186, 0.5);
      flex-direction: column;
      justify-content: center;
      .headingofsubsectioncomp {
        h3 {
          color: #fff;

          @include myfont(25px, 700, $main_font);
        }
      }
      .mbslider {
        margin-top: 12px;
        position: relative;
        .ft-slick__dots--custom {
          height: 10px;
          width: 10px;
          background: rgba(255, 255, 255, 0.5);
          border-radius: 50%;
          // position: relative;
        }
        .slick-dots {
          bottom: -30px;
          /* right: 40px; */
          justify-content: center;
          display: flex;

          li {
            margin: 0 3px;
          }
        }
        .slick-dots .slick-active .ft-slick__dots--custom {
          background-color: #fff;
        }

        .slick-slide {
          padding: 0 7px;
          transform: scaleY(0.8);
          transition: transform 0.5s ease-in-out;
          &.slick-active {
            transform: scaleY(1);
            transition: 0.4s cubic-bezier();
          }
        }
        .slider_item {
          border-radius: 5px;
        }

        .prevbutton {
          position: absolute;
          top: 50%;
          left: -130px;
          width: 65px;
          height: 65px;
          border: 1px solid #fff;
          border-radius: 50%;
          background-color: transparent;
          transform: translateY(-50%);
          @include media(lgDevice) {
            display: none;
          }
          @include media(xlgDevice) {
            left: -75px;
          }
          @include media(xxlgDevice) {
            left: -85px;
          }
        }
        .nextbutton {
          position: absolute;
          top: 50%;
          right: -130px;
          width: 65px;
          height: 65px;
          border: 1px solid #fff;
          border-radius: 50%;
          background-color: transparent;
          transform: translateY(-50%);
          @include media(lgDevice) {
            display: none;
          }
          @include media(xlgDevice) {
            right: -75px;
          }
          @include media(xxlgDevice) {
            right: -85px;
          }
        }
        .slider_item {
          width: 100%;
          background-color: #fff;
          text-align: center;
          padding: 0 20px;
          p {
            @include myfont(16px, 400, $main_font);
            font-style: italic;
            line-height: 19px;
            padding-top: 20px;
          }
          h4 {
            @include myfont(16px, 700, $main_font);
            color: #005dba;
            line-height: 20px;
            margin-top: 15px;
            padding-bottom: 20px;
          }
        }
      }
    }
  }
  .reqaquote {
    padding: 50px 0;

    .submitbutton {
      button {
        padding: 15px 60px;
        margin: 10px 0 60px 0;
        background-color: #005dba;
        border: 0;
        @include myfont(20px, 400, $main_font);
        color: #fff;
        border-radius: 5px;
      }
    }
    .headingofsubsectioncomp {
      text-align: left;
      h3 {
        font-size: 25px !important;
      }
    }
    .para {
      @include myfont(14px, 500, $main_font);
      color: #a3a3a3;
      line-height: 16px;
      span {
        @include myfont(14px, 600, $main_font);
        color: #ed1c24;
        text-transform: uppercase;
        margin-top: 15px;
        display: inline-block;
        cursor: pointer;

        img {
          margin-top: -3px;
        }
      }
    }

    .Form {
      margin-top: 30px;
      .basicinput {
        margin-bottom: 15px;
        input {
          height: 50px;
          &::placeholder {
            @include myfont(16px, 500, $main_font);
          }
        }
        textarea {
          height: 150px;
        }
        &.marginremove {
          margin-bottom: 0;
        }
      }
      .contactcard {
        height: calc(100% - 23px);
        width: 100%;
        background-color: #005dba;
        padding: 38px;
        border-radius: 5px;
        .item {
          margin-bottom: 30px;
          h4 {
            @include myfont(18px, 500, $main_font);
            color: #fff;
          }
          a {
            text-decoration: none !important;
            @include myfont(14px, 500, $main_font);
            color: rgba(255, 255, 255, 0.7);
          }
          .icons {
            svg {
              font-size: 15px;
              color: rgba(255, 255, 255, 0.7);
              margin-right: 20px;
              &:last-child {
                font-size: 17px;
              }
            }
          }
        }
      }
    }
  }
  .footer {
    width: 100%;
    background: linear-gradient(0deg, #005dba 0%, rgba(0, 93, 186, 0) 100%);
    position: relative;
    .copyright {
      text-align: center;

      padding: 40px 0 20px 0;
      p {
        @include myfont(12px, 400, $main_font);
        color: #fff;
      }
    }
    .footerflexwrap {
      .logopart {
        margin-bottom: 40px;
        text-align: center;
        img {
          width: 270px;
        }
      }
      .contacts {
        .wrap {
          ul {
            li {
              line-height: 18px;
            }
          }
        }
      }
      .item {
        .wrap {
          h5 {
            @include myfont(16px, 700, $main_font);
            color: #005dba;
            text-transform: uppercase;
          }
          a {
            display: inline-block;
            @include myfont(16px, 500, $main_font);
            color: #fff;
            text-decoration: none;
            margin: 4px 0;
          }
          ul {
            padding-left: 0;
            list-style-type: none;
          }
        }
      }
    }
  }
}
