@import '../../sassStyles/variables';
@import '../../sassStyles/typography';
@import '../../sassStyles/mixins';
@import '../../sassStyles/global';


.mobile{
    .servicemaincomp{
        padding-top: 60px;
        h5{
            @include myfont(25px,700,$main_font);
            color:#005DBA;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        h3{
            @include myfont(14px,600,$main_font);
            color:#231F20;
            line-height: 14px;
        }
       .textblock{
        // padding: 0 60px;
        padding: 20px 0;
       }
    }
}