@import "../../sassStyles/variables";
@import "../../sassStyles/typography";
@import "../../sassStyles/mixins";
@import "../../sassStyles/global";


.boardofdirectors{
  padding-top: 60px;
  .rightofdirector{
    img{
      width:100%;
    }
    &:first-child{
      margin-top: 60px;
    }
    &:nth-child(2){

      margin: 60px 0;
    }
    h6{
      @include myfont(14px, 700, $main_font);
      color:#005DBA;
      letter-spacing: 2px; 
      
  }
  p{
    @include myfont(25px, 700, $main_font);
      color:#000;
  }
  h5{
    @include myfont(18px, 400, $main_font);
      color:#000;
      text-align: justify;
  }
  }
  .bdirectors{
    height: 60vh;
    background: url(../../../../public/assets/images/AboutPage/boss/directorsbg.png);
    position:relative;
    .overlay{
      position:absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      content:'';
      background-color: rgba(0, 0, 0, 0.6);
    }
    h3{
      @include myfont(80px,400,$main_font);
      color:#fff;
      text-align: center;
    }
   
  }
}

.sliderMeetOurCertificate2{
  .slick-list{
    .slick-track{
      .slick-slide{
        padding:0 5px!important;
      }
    }
  }
}
.slidermeetourfactory{
  .slick-list{
    .slick-track{
      .slick-slide.slick-active {
        border: none !important; /* Remove border on active slide */
    }
    
    /* Remove border on focus */
    .slick-slide.slick-active:focus {
        outline: none; /* Prevent outline on focus */
    }
    
    /* Optional: Remove any border or styling on all slides */
    .slick-slide {
        border: none !important; /* Remove border from all slides */
    }
    
    /* Optionally, prevent outline on all slides */
    .slick-slide:focus {
        outline: none; /* Prevent outline on focus for all slides */
    }
    
    .slick-slide{
        border: none !important;
        padding:0 10px!important;
       
      }
    }
  }
}

.quotemarquee{
  margin-top: 100px;
    .slidertesimoniald{
        
        background-color: #2a76c2;
        align-items: center;
        border-radius: 13px;
        .cardwrap{

            .brandcard{
                .overlay4{
                    padding: 40px 0;
                    img{
                        height:60px;
                        
                        margin:0 auto;
                    }
                }
            }
        }
    }
}
.aboutquotebg{
 position:relative;

  .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(87, 86, 86, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  margin-top: 80px;
    margin-bottom:100px;
    
    background-image: url("../../../../public/assets/images/AboutPage/quotebg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: 500px;
    margin-bottom: 50px;
    @include media(lgDevice) {
        height: 500px;
    }
   
}
.desktop {
  .aboutbannercomp {
    .aboutbanner {
      width: 100%;
      position: relative;
      @include media(lgDevice) {
        height: 600px;
      }
      .img {
        height: 100vh;
        position:relative;
        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(110, 111, 111, 0.5);
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            // padding-top: 140px;
            img {
              width: 100%;
            }
            .div {
              h3 {
                @include myfont(80px, 700, $main_font);
                color: #fff;
                text-transform: uppercase;
                margin-bottom: 30px;
              }
              p {
                @include myfont(20px, 400, $main_font);
                color: #fff;
                text-align: justify;
              }
            }
          }
        img {
          height: 100%;
        }
      }
      .overlay2 {
        height: 25vh;
        max-height: 220px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 99;
        background: rgba(51, 119, 207, 0.763);
        .div{
            text-align: center;
            h3{
                @include myfont(50px, 700, $main_font);
                color: #fff;
                text-transform: uppercase;
                margin-bottom: 0px;
  
            }
            p{
                @include myfont(20px, 400, $main_font);
                color: #fff;
                
            }
        }
        .coldiv {
          height: 100%;
        }
        .mbaboutcontainer,
        .myContainerMinimini,
        .myContainer896,
        .myContainerMini {
          height: 100%;
        }
      }
      
    }
  }
  .aboutferrytech {
    padding-top: 120px;
    .para {
      
      margin-top: 18px;
      .leftside{
        .listitems{
            ul{
                padding-left: 0;
                list-style-type: none;
                li{
                    svg{
                        margin-right: 10px;
                    }
                    @include myfont(16px, 500, $main_font);
                    color:#000;
                    line-height: 25px;
                    
                }
            }
        }
        h6{
            @include myfont(14px, 700, $main_font);
            color:#005DBA;
            letter-spacing: 2px; 
            
        }
        h2{
            @include myfont(3.1rem, 700, $main_font);
            color:#000;
            
            span{
                color:#005DBA;
            }
        }
        p{
            text-align: left;
            text-align: justify;;
            @include myfont(1rem, 400, $main_font);
            padding-top: 30px;
            line-height: 25px
        }
      }
      p {
        @include myfont(18px, 500, $main_font);
        color: #231f20;
        line-height: 25px;
      }
    }
  }
  .faqcomp {
    padding-top: 120px;
    .headingofsubsectioncomp {
      margin-bottom: 60px;
    }
    .myaccordion {
      .myacchead {
        h4 {
          @include myfont(25px, 400, $main_font);
          color: #231f20;
          margin-bottom: 0;
        }
      }
      .accbody {
        p {
          @include myfont(18px, 500, $main_font);
          color: #6b6c6f;
          padding: 30px 0 100px 0;
        }
      }
      .accordion-body {
        padding: 0 40px;
      }
      .accordion-item {
        margin-bottom: 20px;
        box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.1);
        border: none;
      }
      .accordion-button {
        padding: 18px;
      }
      
      .accordion-button:not(.collapsed) {
        background-color: #2a76c2;
        color: #231f20;
        h4{
          color:#fff;
        }
      }
      .accordion {
        --bs-accordion-btn-icon: url(../../../../public/assets/images/AboutPage/accordionicon.png) !important;
        --bs-accordion-btn-active-icon: url(../../../../public/assets/images/AboutPage/accordionicon.png) !important;
        --bs-accordion-btn-icon-width: 24px;
      }
      .accordion-button::after {
        background-image: url(../../../../public/assets/images/AboutPage/accordionicon.png) !important;
      }
    }
  }
}
