*{
    padding:0;
    margin:0;
}
:root{
    --navbarMenuItemColor : #000;
    
}

.coltwenty{
    padding-right: 20px;
    padding-left: 0;
}
.rowgaptwenty{
    margin-bottom: 20px;
}

.headingofsubsectioncomp{
    text-align: center;
    h3{
        text-transform: uppercase;
        @include myfont(40px,700,$main_font);
        color: #005DBA;
    }
}
body{
    overflow-x: hidden;
}
.downloadbutton{
    button{
        width: 231px;   
        height: 49px;
        background-color: #ED1C24;
        
        color:#fff;
        border-radius: 5px;
        border:0;
        margin-right: 25px;
        @include myfont(16px,600,$main_font);
    }
}
.inputgap{
                                
    margin-bottom: 15px;
    position:relative;
    label{
        position:absolute;
        bottom:-17px;
        left:0px;
        
        @include myfont(13px,400,$main_font);
        color: rgb(237, 28, 36);
        @include media(lgDevice){
            @include myfont(10px,400,$main_font);
            
        }
        @include media(xlgDevice){
            @include myfont(10px,400,$main_font);
            
        }
        @include media(xxlgDevice){
            @include myfont(11px,400,$main_font);
            
        }
    }
   }
.scrolltop{
    position: fixed;
    width: 50px;
    right:40px;
    bottom: 26px;
    height: 50px;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    color: #ED1C24;
    transition:0.4s;
    opacity: 0;
    visibility: hidden;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    svg{
        width: 35px;
        color:#fff;
        margin:0 auto;
    }
}
.visibleclass{
    opacity: 1;
    visibility: visible;
}

.sticky2{
    position: fixed!important;
    top: 0;
    width: 100%;
    z-index: 1030;
    
}
.sticky2shadow{
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
    background:#fff;
}

::-webkit-scrollbar{
    width:5px;
    height:5px;
    
}
::-webkit-scrollbar-track{
    background-color: #fff;
    padding: 15x 0;
}
::-webkit-scrollbar-thumb{
    width:5px;
    border-radius: 25px;
    background-color: #ddd;
}


  
.wrapperwrap{
    @include measurement(100%,35px,10px);
    position:relative;
    .Dropdown2{
      @include measurement(100%,35px,10px);
      background-color: #fff;
      border: 1px solid $border_twenty;
     
      z-index:777;
      user-select: none;
      p{
          user-select: none;
      }
      img{
          position:absolute;
          right:10px;
          top:50%;
          transform: translateY(-50%);
      }
     
      
    }
    .Dropdown2-menu{
      position:absolute;
      top:calc(100% + 2px);
      left:0;
      @include measurement(100%,auto,10px);
      background-color: #fff;
      z-index: 998;
      @include borderthin();
      opacity: 0;
      visibility: hidden;
      padding-left: 0;
      li{
          user-select: none;
          padding:0 6px;
          border-radius: 10px;
          &:hover{
              background-color: #ddd;
          }
      }
      &.showme{
          opacity: 1!important;
          visibility: visible;
      }
  }
}




.mynavbarmb{
    .navtoggleshadow{

        box-shadow: -1px 19px 28px -18px rgba(0,0,0,0.5);
        -webkit-box-shadow: -1px 19px 28px -18px rgba(0,0,0,0.5);
        -moz-box-shadow: -1px 19px 28px -18px rgba(0,0,0,0.5);
    }
    .basicinput{
       
        input{
            border:1px solid #ededed;
            font-size: 14px!important;
            &::placeholder{
                font-size: 14px!important;

            }
        }
    }
    .buttonsdiv{
        margin-top: 80px;
        margin-bottom: 40px;
        .loginbutton{
            background-color: #fff;
            @include myfont(18px,500,$main_font);
            color:#000;
            border:none;
            margin-right: 12px;
        }
    }
    .card{
        a{
            @include myfont(16px,500,$main_font); 
        }
    }
    .accordion-button a{
        @include myfont(16px,500,$main_font);
    }
    .accordion-button:not(.collapsed){
        color:#000;
        background-color: #fff;
        box-shadow:none;
    }
  
    .navbar-collapse{
        padding-top: 30px;
    }
    .acc-body{
        .css-13cymwt-control{
            height: 50px;
            border:1px solid #ededed;
        }
        .css-qbdosj-Input{
            height: 41px;
        }
        h3{
            @include myfont(18px,700,$main_font);
            color:#000;
            margin-top: 12px;
        }
        p{
            @include myfont(12px,400,$main_font);
            color:rgba(0, 0, 0, 0.5);
            
        }
    }
    p{
        font-family:customfont;
        font-style: normal!important;
        font-size: 23px;
        display: inline-block;
        // top:50%;
        // left:50%;
        // transform: translate(-50%,-50%);
        // position:absolute;
    }
    .navbar-brand2{
        // position:relative;
        display: flex;
        justify-content: space-between;
        

    }
    .mycontainermb{
        a{
            img{
                max-width: 180px;
                width: 35vw;
                margin:6px 0;
            }
        }
       
    }
}
.mbContainer{
    width:calc(100% - 36px);
    margin:0 auto;
}
.myContainer{
    width:80%;
    margin:0 auto;
    @include media(lgDevice){
        width:900px;
    }
    // @include media(xxlgDevice){
    //     width:1152px;
    // }
}
.myContainerseventy{
    width:80%;
    margin:0 auto;
    @include media(xxlgDevice){
        width:1222px;
    }
}
.myContainerMini{
    width:1180px;
    margin:0 auto;
}
.myContainerMinimini{
    width:1008px;
    margin:0 auto;
}
.myContainer896{
    width:896px;
    margin: 0 auto;
}
p{
    margin-bottom: 0!important;
}

.sticky {
    // position: fixed!important;
    // top: -30px;
    // width: 100%;
    // z-index: 1030;
    // transition: 0.4s;
    // transform: translateY(30px);
    // background:#fff!important;    
    // -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
    // -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
    // box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);

    position: sticky !important;
    top: 0px; /* Adjust the desired negative offset */
    width: 100%;
    z-index: 1030;
    transition: top 2s;
    transform: translateY(0px);
    background: #fff !important;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    
}

.stickymini{
    position:fixed!important;
    transform: translateY(15px);
    top:-15px;
    width: 100%;
    z-index: 999;
    background:#000!important;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
}




// .scrolltop{
//     position: fixed;
//     width: 50px;
//     right:40px;
//     bottom: 40px;
//     height: 50px;
//     font-size: 3rem;
//     z-index: 1;
//     cursor: pointer;
//     color: #ED1C24;
//     transition:0.4s;
//     opacity: 0;
//     visibility: hidden;
// }


.desktop{
    display: none;
    @include media(lgDevice){
        display: block;
    }
    @include media(xlgDevice){
        display: block;
    }
    @include media(xxlgDevice){
        display: block;
    }
}
.mobile{
    
    display: block;
    @include media(lgDevice){
        display: none;
    }
    @include media(xlgDevice){
        display: none;
    }
    @include media(xxlgDevice){
        display: none;
    }
   
    
}

.commonbutton{
    button{

        padding:6px 25px;
        border:none;
        background-color: #00596E!important;        
        color: #fff!important;                
        @include myfont(18px,500,$main_font);
        transition: 0.4s!important;
        border-radius: 74px;
    
    }
}
.mediumsectionheader{
    text-align: center;
    h3{
        @include myfont(50px,700,$main_font);
        position: relative;
        margin: 65px 0;
        display: inline-block;
        &::after{
            bottom:-14px;
            width:83%;
            height: 5px;
            left: 50%;
            transform:translateX(-50%);
            position:absolute;
            content:'';
            background-color: #000;
            animation: mymove2 3s infinite;
            transform: scaleX(0) translateX(-50%);
            transform-origin: bottom left;
            transition:transform 3s infinite;
        }
        @keyframes mymove2 {
            0% {
             transform: scaleX(1) translateX(-50%);
             transform-origin: bottom left;
            }
            
            50% {
                transform: scaleX(0) translateX(-50%);
                transform-origin: bottom left;
            }
            100%{
                transform: scaleX(1) translateX(-50%);
             transform-origin: bottom right;
            }
            
          }
    }
}
.focussmallcard{
    display: flex;
    align-items: center;
    .text{
        p{
            margin-left: 30px;
            @include myfont(27px,500,$main_font);
            margin-bottom: 0;
            @include media(lgDevice){
                @include myfont(17px,500,$main_font);
            }
            @include media(xlgDevice){
                @include myfont(21px,500,$main_font);
            }
        }
    }
}

.basicinput{
    p{
        @include myfont(18px,400,$main_font);
    }
    input{
        height: 60px;
        width: 100%;
        border-radius: 5px;
        border:1px solid #000;
        padding-left: 22px;
        @include myfont(18px,500,$main_font);
        &::placeholder{
            @include myfont(18px,500,$main_font);
            color:#a3a3a3;
        }
    }
    textarea{
        width: 100%;
        height: 100px;
        border-radius: 5px;
        border:1px solid #000;
        padding-left: 22px;
        padding-top: 10px;
        @include myfont(18px,500,$main_font);
        &::placeholder{
            @include myfont(18px,500,$main_font);
            color:#a3a3a3;
        }
    }
}

button{
    
    &:focus{
        box-shadow: none!important;
    }
}



.fcart{
    h3{
        @include myfont(25px,500,$main_font);
        margin-bottom: 22px;
    }
    ul{
        padding-left: 0;
        li{
            a{
                text-decoration: none;
                color:rgba(0,0,0,0.8);
                @include myfont(18px,400,$main_font);
                margin-bottom: 11px;
                display: inline-block;
            }

        }
    }
    .rowline{
       margin-bottom: 10px;
        .leftone{
            svg{
                font-size: 32px;
            }
        }
        .rightone{
            p{
                @include myfont(18px,400,$main_font);
                margin-left: 15px;
                a{
                    color:#000;
                    text-decoration: none;
                }
            }
        }
    }
    .rowline2{
       margin-bottom: 10px;
        .leftone{
            svg{
                font-size: 27px;
            }
        }
        .rightone{
            p{
                @include myfont(18px,400,$main_font);
                margin-left: 15px;
                a{
                    color:#000;
                    text-decoration: none;
                }
            }
        }
    }
}

.wcuCardmain{
    margin-top: 65px;
    .mytitle{
        h4{
            @include myfont(40px,700,$main_font);
            margin-bottom: 10px;
            
        }
    }
    .para{
        margin-top: 30px;
        p{
            @include myfont(25px,400,$main_font);
            line-height: 30px;
        }
    }
}

.mpcCard{
    border:1px solid #EDEDED;
    
    
    padding-bottom: 20px;
    // width: 373px;
    
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 20px;
    @include media(xlgDevice){
        // width: 302px!important;
        // height: 350px!important;
        .title{
            h4{
                height: 32px;
            }
        }
    }
    @include media(xxlgDevice){
        .title{
            h4{
                height: 41px;
            }
        }
    }
    .img{
        img{
            border-radius: 8px;
        }
        position:relative;
        .ovlay{
            position:absolute;
            width: 80px;
            height: 35px;
            border-radius: 8px;
            background-color: #FF0000;
            top:10px;
            left:10px;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                @include myfont(16px,500,$main_font);
                color:#fff;
            }
        }
    }
    .rating{
        margin-top: 13px;
        padding:0 20px;
        margin-bottom: 12px;
        .wrapper{

            align-items: center;
            .stars{
                margin-top: -4px;
            }
            span{
                display: inline-block;
                @include myfont(13px,400,$main_font);
                color:#4F547B;
                &:first-child{
                    @include myfont(12px,500,$main_font);
                    margin-right: 7px;
                    
                    color:#FF9800;
                }
                &:last-child{
                    margin-left: 7px;
                }

            }
        }
    }
    .title{
        padding:0 20px;
        h4{
            @include myfont(17px,500,$main_font);
            @include media(lgDevice){
                @include myfont(13px,500,$main_font);

            }
            @include media(xlgDevice){
                @include myfont(13px,500,$main_font);

            }
            
        }
    }
    .detail{
        margin-top: 15px;
        padding:0 20px;
        p{
            @include myfont(13px,400,$main_font);
            color:#4F547B;
        }
        position:relative;
        &::after{
            width:calc(100% - 40px);
            height: 1px;
            position: absolute;
            content:'';
            background-color: #EDEDED;
            bottom:-10px;
        }
    }
    .pricing{
        display: flex;
        align-items: center;
        padding:0 20px;
        margin-top: 30px;
        img{
            width: 30px;
            height: 30px;
        }
        p{
            @include myfont(13px,400,$main_font);
            margin-left: 10px;
        }
        h5{
            margin-left: auto;
            @include myfont(16px,500,$main_font);
        }
    }
}
.mediumheading{    
    h4{
        @include myfont(32px,700,$main_font);
        color:#00596E;
        margin-bottom: 0;
    }    
}

.bannersectionotherpage{
    overflow-y: hidden!important;
    height: 560px!important;
    position: relative;
    .mysubpagetitle{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        h3{
            @include myfont(60px,700,$main_font);
            color:#fff;

        }
    }
    .overlay{
        position:absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(0.89deg, rgba(14, 44, 57, 0.8) -1.19%, rgba(0, 173, 210, 0.8) 142.05%);
        top:0;
        left:0;
        .mysubpagetitle{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            position: absolute;
            top:0;
            left:0;
            h3{
                @include myfont(60px,700,$main_font);
                color:#fff;
    
            }
        }
    }
}
.bannerbottompartother{
    padding: 20px;
    height: auto!important;
    
    .contactbarcard{
        width:100%;
        border:1px solid #ededed;
        height: 182px;
        border-radius: 8px;
        .upperpart{
            height: 80px;
            
            position: relative;
            
            &::after{
                position: absolute;
                width: 84%;
                height: 1px;
                background-color: #000;
                left: 50%;
                transform: translateX(-50%);
                bottom:0;
                content:'';
            }
            .contentup{
                height: 32px;
                bottom:10px;
                position: absolute;
                
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                text-align: center;
                h4{
                    @include myfont(25px,700,$main_font);
                    color:#00596E;
                }
                img{
                    margin-top: -3px;
                }
            }
           
        }
        .lowerpart{
            .contentdown{
                text-align: center;
                p{
                    @include myfont(16px,400,$main_font);
                    margin-top: 5px;
                    @include media(lgDevice){
                        @include myfont(12px,400,$main_font);
                    }
                    @include media(xlgDevice){
                        @include myfont(13px,400,$main_font);
                    }
                    a{
                        color:#000;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    &.bannerbottompartothermb{
        width: 90%;
        margin:0 auto;
        background-color: #fff;
        transform: translateY(-13%)!important;
        @include media(xsmDevice){
            top:300px!important

        }
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        .contactbarcard{
            height: 140px;
            margin-bottom: 20px;
          
            &.margindrop{
                margin-bottom: 0;
            }
            .upperpart{
                .contentup{
                    h4{
                        @include myfont(20px,700,$main_font);
                    }
                }

            }
            .lowerpart{

                .contentdown{
                    p{
                        @include myfont(13px,400,$main_font);
                    }
                }
            }
        }
    }
}

.otherpagesubheading{
    text-align: center;
    h4{
        @include myfont(40px,700,$main_font);
        margin-bottom: 40px;
    }
}
.bannerotherpagebigmb{
    height: 100vh;
    position: relative;
    background: linear-gradient(0deg, #0E2C39 0%, #00ADD2 130.69%);
    img{
        height: 100%;
    }
    .overlay{
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        h4{
            @include myfont(30px,700,$main_font);
            color:#fff;
            transform: translateY(40px);
        }
        
    }
}
.div{
    overflow-x: hidden;
}
.bannermb{
    height: 770px;
    width: 100%;
    background: linear-gradient(0deg, #0E2C39 0%, #00ADD2 130.69%);
    overflow-x: hidden;
    overflow-y: hidden;
    .slick-slide{
        position:relative;
    }
    img{
        width: 646px;
        height: 100%;
    }
    .techerpicdiv{
        width: 267px;
        position:absolute;
        top:110px;
        left:50%;
        transform: translateX(-50%);
        height: 269px;
        z-index: 999;
        img{
            width: 100%;
        }
    }
    .bottompart{
        position:absolute;
        top:400px;
        h4{
            @include myfont(30px,700,$main_font);
            color:#fff;
            width:80vw;
            position: absolute;
            left:10vw;
            
            top:0;
        }
        p{
            @include myfont(16px,400,$main_font);
            color:#fff;
            width:80vw;
            position: absolute;
            left:10vw;
            
            top:100px;
        }
        .buttons{
            width:70vw;
            left:15vw;
            margin-top: 30px;
            position: absolute;
            top:195px;
            .commonbutton{
                button{
                    background-color: #fff!important;
                    color:#000!important;
                    font-size: 12px!important;
                    padding:7px 10px;
                   
                }
            }
            .secondbutton{
                button{
                    padding:0;
                    height: 33px;
                    width: 33px;                        
                    border-radius: 50%;
                    background-color: #fff;
                    border:0;
                    svg{
                        margin-top: -3px;
                        color:#000;
                    }
                }
                a{
                    text-decoration: none;
                    @include myfont(13px,400,$main_font);
                    color: #fff;
                    margin-left: 7px;
                }
            }
        }
    }
}
.bannerotherpagemb{
    height: 40vh;
    position: relative;
    background: linear-gradient(0deg, #0E2C39 0%, #00ADD2 130.69%);
    img{
        height: 100%;
    }
    .overlay{
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        h4{
            @include myfont(30px,700,$main_font);
            color:#fff;
            transform: translateY(40px);
        }
        
    }
   
}

.subheadingmb{    
    text-align: center;
        h4{
            @include myfont(30px,700,$main_font);
            color:#00596E;
        }    
}
.mostpopcoursesheading{
    padding-bottom: 30px;
    p{
        @include myfont(18px,400,$main_font);
        color:#000;
        margin-bottom: 0;
    }
}

.upcomingcardwrapper{
    .collapseablepart{
        
    }
    margin-bottom: 30px;
}
.upcomingevent{
    .accordion-body{
        @include myfont(16px,400,$main_font);
    }
    .accordion-item{
        margin-bottom: 30px;
    }
    .accordion-button:not(.collapsed){
        background-color: #fff!important;
    }
    .accordion-button{
        padding: 0!important;
        padding-right: 20px!important;
        border-bottom: 1px solid #ededed;
    }
    .mediumheading{
        text-align: center;
        margin-bottom: 80px;
    }
    .upcomingCard{
        height: 150px;
        width: 100%;
        
        
        display: flex;
        justify-content: space-between;
        .left{
            height: 100%;
            width: 15%;
            background-color: #00ADD2;
            display: flex;
            justify-content: center;
            align-items: center;
            .flexwrap{
                
                h3{
                    @include myfont(60px,700,$main_font);
                    color:#fff;
                    margin-bottom: 0;
                    line-height: 40px;
                }
                p{
                    @include myfont(30px,700,$main_font);
                    color:#fff;
                    margin-bottom: 0;
                    line-height: 40px;
                }
            }
        }
        .middle{
            width: 85%;
            height: 100%;
            padding:0 0 0 20px ;
            display: flex;
            justify-content: center;
            align-items: center;
            .flexwrapmiddle{
                h3{
                    @include myfont(24px,600,$main_font);
                color:#00596E;
                @include media(lgDevice){
                    @include myfont(21px,600,$main_font);
                }

                }
                p{
                    @include myfont(16px,400,$main_font);
                    color:#000;
                }
            }
        }
        .right{
            width: 17%;
            height: 100%;  
            
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                text-decoration: none;
                color:#000;
                @include myfont(16px,400,$main_font);
            }
        }
    }
}
.upcomingeventmb{
    padding-top: 50px;
    .subheading{
        text-align: center;
        padding: 0 20%;
    }
    .slick-list{
        padding-left: 0!important;
        .slick-slide{
            padding:0 0 0 18px;
        }
    }
    .upcomingCard{
        border: 1px solid #ededed;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .bottom{
        padding: 10px;
        p{
            @include myfont(10px,400,$main_font);
            color:#000;
            a{
                margin-left: 7px;
                text-decoration: underline;
                color:#000;
            }
        }
    }
    .toppart{
        display: flex;
        align-items: center;
        border:1px solid #ededed;
        .left{
            border-top-left-radius: 5px;
            display: flex;
            align-items:center;
            justify-content: center;
            width: 65px!important;
            height: 65px;
            background-color: #00ADD2;
            h3,p{
                margin-bottom: 0;
            }
            .flexwrap{
                text-align: center;
                width: 65px;
                h3{
                    color:#fff;
                    @include myfont(28px,700,$main_font);
                }
                p{
                    color:#fff;
                    @include myfont(13px,700,$main_font);
                }
            }
        }
        .middle{
            padding: 10px;
            h3{
                @include myfont(10px,600,$main_font);
                color:#00596E;
                margin-bottom: 0;
            }
        }
    }
}
.prayertimeboxes{
    border-bottom: 2px solid #fff;
    padding-bottom: 40px;
    .prayerbox{
        text-align: center;
        position:relative;
        margin-top: 40px;
        
        .overlay{
            position:absolute;
            width: 100%;
            height: 100%;                    
            top:0;
            left:0;
            h4{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom:40px;
                @include myfont(35px,900,$main_font);
                color:#fff;
            }
            p{
                position:absolute;
                right:60px;
                bottom:30px;
                color: #fff;
                @include myfont(15px,700,$main_font);
            }
        }
    }
}